# As per the team configuration, this will assign one of us to be the reviewer
# for incoming pull requests. If you want to change that, feel free to do this
# in the team settings.
* @Queer-Lexikon/karte
