name: Code quality verification

on:
  merge_group:
    types: [checks_requested]
  pull_request:
    types:
      - "opened"
      - "synchronize"

jobs:
  format:
    runs-on: ubuntu-latest
    if: "${{ github.event_name == 'pull_request' }}"
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
      - name: Format files
        run: make format
      - uses: stefanzweifel/git-auto-commit-action@v7
        name: Commit possible changes
        with:
          commit_message: "style: format files using prettier"

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build the project
        run: make build
